In [64]:
%%time
import numpy as np
import pandas as pd
import glob
#import nltk
import matplotlib as plt
import scipy
import scipy.sparse
import logging

Wall time: 0 ns

In [65]:
new_test = pd.read_csv('chase_ios_app_reviews-2.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
new_test.dtypes

date       object
version    object
rating      int64
body       object
dtype: object

In [70]:
new_test['version'].describe()

count     131983
unique        74
top         2.34
freq       12867
Name: version, dtype: object

In [42]:
listest = pd.unique(new_test['version'])

In [30]:
listest = [1,2,3]

In [43]:
listest

array(['2.623', '2.634', '2.635', '2.651', '2.652', '2.54', '2.471', '0',
       '2.61', '2.461', '2.48', '2.28', '2.25', '2.55', '2.56', '2.23',
       '2.5', '2.62', ' 2.14.5799', '2.44', '2.45', '2.49', '2.41',
       '2.401', ' 2.10.3018', '2.57', '2.42', ' 2.8.1202', '2.34', '2.24',
       '2.8', '2.4', '2.331', ' 2.12.3856', '2.59', ' 2.11.3472', '2.31',
       '2.32', ' 2.10.2911', ' 2.162.8101', '2.18', '2.17', '2.21', '2.36',
       '2.621', ' 2.13. 4542', '2.16', '2.39', '2.38', '2.43', '2.27',
       ' 2.15.6106', '2.35', '2.2', '2.46', '2.3', '2.622', '2.26', '2.19',
       '2.47', '2.53', '2.29', '2.7', '2.51', 2.61, 2.59, 2.62,
       2.6210000000000004, 2.622, 2.623, 2.634, 2.635, 2.6510000000000002,
       2.6519999999999997], dtype=object)

In [72]:
test_version = new_test[new_test.version == listest[7] ]
test_version.describe()

            rating
count  1777.000000
mean      3.353405
std       1.628861
min       1.000000
25%       2.000000
50%       4.000000
75%       5.000000
max       5.000000

In [55]:
#for i in range(len(listest)):
    #print(i+1)

In [73]:
for i in range(len(listest)):
    y = new_test[new_test.version == listest[i] ]
    #y.to_csv('version %f.csv'%listest[i], index = False)
    #print('count number #%d'%(i+1),y)

In [75]:
version_sep = new_test[new_test.version == listest[18] ]

In [77]:
version_sep['version'].describe()

count            158
unique             1
top        2.14.5799
freq             158
Name: version, dtype: object